html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    font-family: sans-serif;
}

#shelly {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#shelly .action {
    padding: 0;
}

#shelly .content {
    align-items: center;
    justify-content: space-around;
    padding: 0 0 10% 0;
}

#shelly .logo {
    width: 100px;
    height: 100px;
}

#shelly .wrapper {
    flex: unset;
    width: auto;
}

#shelly .wrapper .row {
    display: flex;
    align-items: center;
}

#shelly .wrapper .row .message {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 20px;
}
