html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    font-family: sans-serif;
}

#ring {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#ring .action {
    padding: 0;
}

#ring .content {
    align-items: center;
    justify-content: space-around;
    padding: 0 0 10% 0;
}

#ring .logo {
    width: 120px;
    height: 86px;
    clip-path: inset(20px 25px 20px 25px);
    margin: -20px -25px -20px -25px;
}

#ring .form {
    flex: unset;
    width: 520px;
}

#ring .form .label {
    font-size: 14px;
    color: #4c4c4c;
    margin: 14px 0 8px 0;
}

#ring .form .row {
    display: flex;
}

#ring .form .row.actions {
    flex-direction: column;
    padding: 7px 0 0 0;
}

#ring .form .button {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 7px 0 0 0;
    padding: 10.5px 10px 9.5px 10px;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none !important;
    white-space: pre;
    border: 1px #1998d5 solid;
    border-radius: 4px;
    background: #1998d5;
    cursor: pointer;
    user-select: none;
}

#ring .form .button.cancel {
    color: #4c4c4c !important;
    border: 1px #dee5ec solid;
    background: #fff;
}

#ring .form .field {
    width: 100%;
    padding: 16px;
    color: #4c4c4c;
    background: #fafbfc;
    border: 1px #dee5ec solid;
    border-radius: 4px;
}

#ring .form .field:focus {
    background: #fff;
    border: 1px #1998d5 solid;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    outline: 0;
}
