html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    font-family: sans-serif;
}

#simplisafe {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#simplisafe iframe {
    flex: 1;
}
